<div class="d-flex container justify-content-between align-items-center mb-3">

  <div class="button-container">
      <h3 class="padding: 10px">Books</h3>
      <button nz-button nzType="primary" (click)="navigateToCreate()">
        <nz-icon nzType="plus" />
        Create Book
      </button>
  </div>

  <nz-table [nzData]="books" [nzLoading]="isLoading" [nzFrontPagination]="false" [nzBordered]="true"
    nzSize="middle">

    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Author</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.price | currency }}</td>
        <td>{{ book.stock }}</td>
        <td>{{ book.authorName }}</td>
        <td>
         <button nz-button nzType="link" (click)="navigateToUpdate(book.id)" aria-label="Edit"><mat-icon nz-icon nzType="edit"></mat-icon></button>
          <a (click)="deleteBook(book.id)" nzDanger><nz-icon nzType="delete" nzTheme="outline" />Delete</a>
        </td>
      </tr>

  </nz-table>

  <div class="center-container-grid">
    <div class="content-to-center">
      <span class="me-2">Row per page:</span>
      <nz-select [ngModel]="pageSize" (ngModelChange)="onPageSizeChange($event)" style="width: 90px">
        <nz-option *ngFor="let size of pageSizeOptions" [nzValue]="size" [nzLabel]="size">
        </nz-option>
      </nz-select>
      <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="totalElements"
                [nzShowSizeChanger]="false" (nzPageIndexChange)="onPageChange($event)">
            </nz-pagination>
    </div>
  </div>
</div>