<form nz-form [formGroup]="loginForm" (ngSubmit)="submit()">
    <nz-form-item>
    <nz-form-label nzRequired>Username</nz-form-label>
    <nz-form-control nzErrorTip="Valid username required">
      <input nz-input type="username" formControlName="username" />
    </nz-form-control>
  </nz-form-item>
   <nz-form-item>
    <nz-form-label nzRequired>Password</nz-form-label>
    <nz-form-control nzErrorTip="Password required">
      <input nz-input type="password" formControlName="password" />
    </nz-form-control>
  </nz-form-item>
  <button nz-button nzType="primary" htmlType="submit">
    Login
  </button>
</form>