<nz-layout>
  <nz-header class="admin-header">
    <div class="header-left">
      <div class="title"><nz-icon nzType="book" nzTheme="outline" /> Bookstore</div>
    </div>

    <ul nz-menu nzMode="horizontal" nzTheme="dark" class="header-menu">
      <li nz-menu-item routerLink="/admin/books" routerLinkActive="ant-menu-item-selected">
        Books
      </li>
      <li nz-menu-item routerLink="/admin/authors" routerLinkActive="ant-menu-item-selected">
        Authors
      </li>
    </ul>
  </nz-header>
</nz-layout>


<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
