<h2>Update Book Form</h2>

<form nz-form nzLayout="horizontal" [formGroup]="bookForm" (ngSubmit)="submitForm()">
  
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">Title</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Title is required">
      <input nz-input formControlName="title" id="title" placeholder="Enter the title" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="authorId">Author</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Author is required">
      <nz-select id="authorId" formControlName="authorId" [nzLoading]="authorLoading" nzPlaceHolder="Select an Author">
        <nz-option 
          *ngFor="let author of authors" 
          [nzValue]="author.id" 
          [nzLabel]="author.firstName + ' ' + author.lastName">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="isbn">ISBN</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="ISBN is required">
      <input nz-input formControlName="isbn" id="isbn" placeholder="Enter ISBN" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price">Price</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input type="number" nz-input formControlName="price" id="price" />
      @if (bookForm.get('price')?.dirty && bookForm.get('price')?.errors) {
        <div class="error-text">
          @if (bookForm.get('price')?.errors?.['required']) { <span>Price is required</span> }
          @if (bookForm.get('price')?.errors?.['min']) { <span>Price must be at least 1</span> }
        </div>
      }
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="stock">Stock</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input type="number" nz-input formControlName="stock" id="stock" />
      @if (bookForm.get('stock')?.dirty && bookForm.get('stock')?.errors) {
        <div class="error-text">
          @if (bookForm.get('stock')?.errors?.['required']) { <span>Stock is required</span> }
          @if (bookForm.get('stock')?.errors?.['min']) { <span>Stock cannot be negative</span> }
        </div>
      }
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">Description</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea nz-input formControlName="description" rows="3" id="description" placeholder="Book Description"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzOffset]="6" [nzSpan]="14">
      <button nz-button nzType="primary" type="submit" [nzLoading]="submitting">
        Update
      </button>
      <button nz-button nzType="default" style="margin-left: 8px" type="button" (click)="resetform()">
        Reset
      </button>
      <button nz-button nzType="default" style="margin-left: 8px" type="button" (click)="cancel()">
        Cancel
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
<style>
    .error-text{
        color: #ff4d4f;
        font-size: 14px;
    }
</style>