<form nz-form nzLayout="horizontal" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">Title</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Title is required">
            <input nz-input formControlName="title" id="title" nzPlaceHolder="Enter your email"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="authorId">Author</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Author is required">
            <nz-select id="authorId" [nzLoading]="authorLoading" formControlName="authorId" nzPlaceHolder="Select an author">

                <nz-option
                    *ngFor="let author of authors"
                    [nzValue]="author.id"
                    [nzLabel]="author.firstName + ' ' + author.lastName">

                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="isbn">ISBN</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Isbn is required">
            <input nz-input formControlName="isbn" id="isbn" nzPlaceHolder="Enter the ISBN of the book"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price">Price</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Price is required">
            <input nz-input type="price" formControlName="price" id="price" nzPlaceHolder="Enter the price of the book" >
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="stock">Stock</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Stock is required">
            <input nz-input type="number" formControlName="stock" id="stock" nzPlaceHolder="Enter amount of books you have in storage">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired  nzFor="description">Description</nz-form-label>
        <nz-form-control >
            <input nz-input formControlName="description" id="description" nzPlaceHolder="Book Description">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzOffset]="6" [nzSpan]="14">
            <button nz-button nzType="primary" htmlType="submit">
                Create Book
            </button>
            <button nz-button nzType="default" style="margin-left: 8px" type="button" (click)="resetForm()">
                Reset
            </button>
            <button nz-button nzType="default" style="margin-left: 8px" type="button" (click)="cancel()">
                Cancel
            </button>
        </nz-form-control>
    </nz-form-item>
</form>