<form nz-form [formGroup]="registerForm" (ngSubmit)="submit()">

    <nz-form-item>
        <nz-form-label nzRequired>Username</nz-form-label>
        <nz-form-control [nzErrorTip]="registerForm.get('username')?.errors?.['backend']">
            <input nz-input formControlName="username" />
        </nz-form-control>
    </nz-form-item>
    <div *ngIf="registerForm.get('username')?.errors?.['backend']">
        {{ registerForm.get('username')?.errors?.['backend'] }}
    </div>

    <nz-form-item>
        <nz-form-label nzRequired>Password</nz-form-label>
        <nz-form-control [nzErrorTip]="registerForm.get('password')?.errors?.['backend']">
            <input nz-input type="password" formControlName="password" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzRequired>Confirm Password</nz-form-label>s
        <nz-form-control [nzErrorTip]="passwordErrorTpl"
            [nzErrorTip]="registerForm.get('confirmPassword')?.errors?.['backend']">
            <input nz-input type="password" formControlName="confirmPassword" />
        </nz-form-control>
    </nz-form-item>

    <ng-template #passwordErrorTpl>
        <ng-container *ngIf="registerForm.errors?.['passwordMismatch']">
            Passwords do not match
        </ng-container>
    </ng-template>

    <button nz-button nzType="primary" nzBlock [nzLoading]="loading">
        Register
    </button>
    <div style="margin-top: 1rem; text-align: center;">
        <span>Already a member? <a routerLink="/auth/login">Sign in here</a></span>
    </div>
</form>