<h2>Update Author</h2>
<form nz-form [formGroup]="authorForm" (ngSubmit)="submit()">

  <nz-form-item>
    <nz-form-label [nzFor]="'firstName'" >First Name</nz-form-label>
    <nz-form-control [nzValidateStatus]="authorForm.get('firstName')!">
      <input nz-input id="firstName" formControlName="firstName" />
      <ng-container *ngIf="authorForm.get('firstName')?.touched || authorForm.get('firstName')?.dirty">
        <div nz-form-explain *ngIf="authorForm.get('firstName')?.errors?.['required']" class="error-text">
          First name is required
        </div>
        <div nz-form-explain *ngIf="authorForm.get('firstName')?.errors?.['maxlength']" class="error-text">
          Max 50 characters
        </div>
      </ng-container>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzFor]="'lastName'" nzRequired>Last Name</nz-form-label>
    <nz-form-control [nzValidateStatus]="authorForm.get('lastName')!">
      <input nz-input formControlName="lastName" />
      <ng-container *ngIf="authorForm.get('lastName')?.touched || authorForm.get('lastName')?.dirty">
        <div nz-form-explain *ngIf="authorForm.get('lastName')?.errors?.['required']" class="error-text">
          Last name is required
        </div>
        <div nz-form-explain *ngIf="authorForm.get('lastName')?.errors?.['maxlength']" class="error-text">
          Max 50 characters
        </div>
      </ng-container>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="email" nzRequired>Email</nz-form-label>
    <nz-form-control [nzValidateStatus]="authorForm.get('email')!">
      <input nz-input id="email" formControlName="email" />
      <ng-container *ngIf="authorForm.get('email')?.touched || authorForm.get('email')?.dirty">
        <div nz-form-explain *ngIf="authorForm.get('email')?.errors?.['required']" class="error-text">
          Email is required
        </div>
        <div nz-form-explain *ngIf="authorForm.get('email')?.errors?.['email']" class="error-text">
          Invalid email
        </div>
        <div nz-form-explain *ngIf="authorForm.get('email')?.errors?.['duplicate']" class="error-text">
          {{ authorForm.get('email')?.errors?.['duplicate'] }}
        </div>
      </ng-container>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="bio">Bio</nz-form-label>
    <nz-form-control [nzValidateStatus]="authorForm.get('bio')!">
      <textarea nz-input id="bio" formControlName="bio" rows="4"></textarea>
      <ng-container *ngIf="authorForm.get('bio')?.touched || authorForm.get('bio')?.dirty">
        <div nz-form-explain *ngIf="authorForm.get('bio')?.errors?.['maxlength']" class="error-text">
          Max 500 characters
        </div>
      </ng-container>
    </nz-form-control>
  </nz-form-item>


<nz-form-item>
    <nz-form-control>
        <button nz-button nzType="primary" [disabled]="submitting || authorForm.pending">
            {{ submitting ? 'Updating...' : 'Update' }}
        </button>

        <button 
            nz-button nzType="default"
            (click)="cancel()"
            [disabled]="submitting"
            style="margin-left: 8px">
            Cancel
        </button>
    </nz-form-control>
</nz-form-item>
</form>

<style>
  .error-text {
    color: #ff4d4f;
    font-size: 12px;
  }
</style>